.container {
    max-width: 900px;
}

.range {
    display: block;
    width: 100%;
}

.mb30 {
    margin-bottom: 30px !important;
}

.version {
    margin-top: 5em;
    text-align: center;
}

.select select, .input, .select:not(.is-multiple) {
    height: 3em;
}

.select select {
    background: #f3f3f3;
    color: #777;
}